@font-face {
    font-family: 'MaSuperPolice';
    src: url('MaSuperPolice.eot');
}

h1{
	text-align:center;
	color: white;
	font-size: 50px;
	
}

p{
	text-align: center;
}

h2{
	font-family: 'MaSuperPolice', Arial;
	font-size: 38px;
	border: 3px white solid;
	box-shadow: 6px 6px 6px black;
	display: inline-block;
}

body{
	background-image: url("eau.jpg");
	color: white;
}
img{
	width:15%;
	position: absolute;
	top:10px;
	right:10px;
}